:root {
    --primary-color: #143c3c;
}
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none;
}
.btn:hover {
    opacity: 0.9;
}
/* ------------------COMMON------------------ */
.content {
    width: min(1140px, calc(100vw - 48px));
    margin-left: auto;
    margin-right: auto;
}
/* ------------------HEADER------------------ */
.header {
    padding-top: 13px;
    padding-bottom: 13px;
}
.header__inner {
    display: flex;
    align-items: center;
}
.header__nav {
    margin-left: auto;
}
.header__menu {
    display: flex;
    align-items: center;
    gap: 0 38px;
}
.header__action {
    margin-left: 88px;
}
.header__sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 173px;
    height: 57px;
    background-color: var(--primary-color);
    border-radius: 40px;
    font-family: "Public Sans";
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: #fff;
}
.header__menu-link {
    color: #575d5e;
    font-family: "Public Sans";
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    position: relative;
}
.header__menu-link:hover {
    color: var(--primary-color);
}
.header__menu-link:hover::after {
    content: "";
    width: 16px;
    height: 2px;
    background-color: var(--primary-color);
    display: block;
    position: absolute;
    bottom: -26px;
}
