:root {
    --primary-color: #143c3c;
}
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 173px;
    height: 57px;
    background-color: var(--primary-color);
    border-radius: 40px;
    font-family: "Public Sans";
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: #fff;
}
.btn:hover {
    opacity: 0.9;
}
/* ------------------COMMON------------------ */
.content {
    width: min(1140px, calc(100vw - 48px));
    margin-left: auto;
    margin-right: auto;
}
/* ------------------HEADER------------------ */
.header {
    padding-top: 13px;
    padding-bottom: 13px;
    position: relative;
}
.header::after {
    content: "";
    position: absolute;
    width: 1140px;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
    bottom: 0;
}
.header__inner {
    display: flex;
    align-items: center;
}
.header__nav {
    margin-left: auto;
}
.header__menu {
    display: flex;
    align-items: center;
    gap: 0 38px;
}
.header__action {
    margin-left: 88px;
}
.header__menu-link {
    color: #575d5e;
    font-family: "Public Sans";
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    position: relative;
}
.header__menu-link:hover {
    color: var(--primary-color);
}
.header__menu-link:hover::after {
    content: "";
    width: 16px;
    height: 2px;
    background-color: var(--primary-color);
    display: block;
    position: absolute;
    bottom: -31px;
    z-index: 2;
}
/* ------------------HERO------------------ */
.hero {
    padding-top: 60px;
    height: 761.688px;
}
.hero__inner {
    display: flex;
    align-items: center;
}
.hero__content {
    flex-shrink: 0;
}
.hero__media {
    margin-left: 76px;
    position: relative;
    z-index: 1;
}
.hero__media::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #a4dccb;
    filter: blur(137px);
    z-index: 0;
    /* Dùng để một vùng sáng màu xanh bị blur phía sau các ảnh  */
}
.hero__title {
    color: var(--primary-color);
    font-family: "Public Sans";
    font-size: 50px;
    font-weight: 800;
    line-height: 60px;
    width: 368px;
}
.hero__desc {
    color: var(--primary-color);
    font-family: "Public Sans";
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    width: 341px;
    margin-top: 20px;
}
.hero__actions {
    display: flex;
    margin-top: 42px;
    align-items: center;
    gap: 0 36px;
}
.hero__watch {
    display: flex;
    align-items: center;
    position: relative;
}
.hero__icon {
    position: absolute;
    left: 7px;
}
.hero__text {
    color: #152427;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
}
.hero__image {
    width: 202px;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
    display: inline-block;
    z-index: 2;
}
.hero__image + .hero__image {
    margin-left: 20px;
}
.hero__image--2 {
    position: relative;
    top: 77px;
}
.hero__vector {
    position: absolute;
    z-index: 3;
}
.hero__vector--1 {
    top: -32.39px;
    left: -211px;
}
.hero__vector--2 {
    top: -33px;
    left: -164px;
}
.hero__vector--3 {
    bottom: -133px;
    right: 42px;
}
.hero__vector--4 {
    right: 0;
    bottom: -108px;
}
/* ------------------BRANDS------------------ */
.brands {
    margin-top: 10px;
}
.brands__inner {
    display: flex;
    border-radius: 100.5px;
    background-color: #e2eddf;
    align-items: center;
    gap: 50px;
    justify-content: center;
    height: 201px;
}
.brands__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.brands__text--google {
    color: var(--primary-color);
    font-size: 31px;
    font-weight: 500;
    line-height: normal;
}
.brands__text--slack {
    color: var(--primary-color);
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
}
.brands__text--discord {
    color: #163c35;
    font-size: 26px;
    line-height: normal;
}
.brands__text--rio {
    color: var(--primary-color);
    font-family: "Sonsie One";
    font-size: 23px;
    line-height: normal;
}
.brands__text--heroku {
    color: var(--primary-color);
    font-size: 19px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.995px;
}
/* ------------------SERVICE------------------ */

.service {
    margin-top: 106px;
}
.servive__name {
    color: var(--primary-color);
    font-weight: 500;
    line-height: 26px; /* 162.5% */
}
.servive__name::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background-color: var(--primary-color);
    vertical-align: middle;
    margin-right: 21px;
}
.service__title-row {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.service__title {
    color: var(--primary-color);
    font-size: 42px;
    font-weight: 600;
    line-height: 52px;
    width: 520px;
}
.service__title::after {
    content: "";
    width: 66px;
    height: 2px;
    background-color: var(--primary-color);
    display: inline-block;
    vertical-align: middle;
}
.service__icon--right {
    transform: rotate(180deg);
}
.service__controls {
    display: flex;
    gap: 17px;
}
.service__control {
    width: 54px;
    height: 54px;
    display: inline-block;
    background: #e2eddf;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #152427;
}
.service__control:hover {
    color: #fff;
    background: var(--primary-color);
}
.service__list {
    display: flex;
    gap: 16px;
    margin-top: 76px;
}
.service__card {
    flex: 1;
    border-radius: 20px;
    overflow: hidden;
}
.service__card:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}
.service__thumb {
    overflow: hidden;
    display: block;
}
.service__card:hover .service__img {
    transform: scale(1.1);
}

.service__body {
    margin-top: 24px;
    padding-bottom: 23px;
    padding-left: 18px;
}
.service__img {
    width: 100%;
    height: 318px;
    object-fit: cover;
    transition: 0.25s;
}
.service__link {
    color: var(--primary-color);
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
}
.service__desc {
    color: #7d8188;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 18px;
    width: 268px;
}
/* ------------------ABOUT US------------------ */
.about {
    margin-top: 149px;
}
.about__inner {
    display: flex;
}
.about__media {
    display: flex;
    gap: 21px;
    position: relative;
    z-index: 0;
}
.about__media::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    height: 400px;
    margin: auto;
    background-color: #d9e8dc;
    border-radius: 50%;
    filter: blur(137px);
    z-index: -1;
}
.about__img {
    width: 286px;
    height: 480px;
    object-fit: cover;
    border-radius: 210px;
    /* display: inline-block; */
}
.about__img--first {
    position: relative;
    top: 77px;
}
.about__vector {
    position: absolute;
    z-index: 1;
}
.about__vector--first {
    top: -40px;
    left: 46px;
}
.about__vector--second {
    top: -41px;
    left: 93px;
}
.about_stats {
    width: 143px;
    height: 144px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 7px 54px 0 rgba(154, 154, 154, 0.25);
    position: absolute;
    bottom: -69px;
    right: -9px;
    padding: 19px 23px;
    z-index: 2;
}
.stats__title {
    color: var(--primary-color);
    font-family: "Public Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    margin-bottom: 6px;
}
.stats__text {
    color: #575d5e;
    font-family: "Public Sans";
    font-size: 10px;
    line-height: 14px;
    margin-bottom: 27px;
}
.stats__loading {
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: #eaeaea;
    position: relative;
    margin-bottom: 20px;
}
.stats__loading-bar {
    width: 40px;
    height: 2px;
    border-radius: 10px;
    background: #83a17d;
}
.stats__loading::before {
    content: "40%";
    color: var(--primary-color);
    font-family: "Public Sans";
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    position: absolute;
    top: -14px;
    left: 0;
}
.stats__loading::after {
    content: "Loading...";
    color: var(--primary-color);
    font-family: "Public Sans";
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    position: absolute;
    bottom: -14px;
    right: 0;
}
.about__dot {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #eaeaea;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about__dot::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
.stats__team {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.stats__team-label {
    color: var(--primary-color);
    font-family: "Public Sans";
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
}
.stats__team-images {
    display: flex;
}
.stats__image {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    overflow: hidden;
}
.stats__image + .stats__image {
    margin-left: -6px;
}
.stats__avatar {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.about__content {
    margin-left: 64px;
}

.about__eyebrow {
    color: var(--primary-color);
    font-weight: 500;
    line-height: 18px; /* 112.5% */
}
.about__eyebrow::before {
    content: "";
    width: 25px;
    height: 1px;
    background-color: var(--primary-color);
    display: inline-block;
    vertical-align: middle;
    margin-right: 21px;
}
.about__title {
    color: var(--primary-color);
    font-size: 42px;
    font-weight: 600;
    line-height: 52px;
    width: 483px;
    margin-top: 20px;
}
.about__desc {
    color: #7d8188;
    width: 478px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 11px;
    margin-bottom: 36px;
}
.about__info {
    display: flex;
    align-items: center;
    margin-bottom: 38px;
    padding-bottom: 20px;
    border-bottom: 1px solid #83a17d;
    gap: 0 24px;
}
.about__number {
    color: var(--primary-color);
    font-size: 42px;
    font-weight: 600;
    line-height: 52px;
}
.about__text {
    color: #7d8188;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    width: 364px;
}
